Source: qubes-mgmt-salt-all-privacy
Section: admin
Priority: extra
Maintainer: Jason Mehring <nrgaway@gmail.com>
Build-Depends:
    debhelper (>= 9~),
    quilt
Standards-Version: 3.9.5
Homepage: http://www.qubes-os.org

Package: qubes-mgmt-salt-all-privacy
Section: admin
Architecture: all
Depends:
    qubes-mgmt-salt,
    python-augeas
Description:
 Installs some privacy related configurations for all users and root user.
 .
 Updates `~/.bashrc` with `HISTFILESIZE=0` to prevent .bash_history file from
 being written to.
 .
 Updates `~/.vimrc` to prevent vim history from being written to `~/.viminfo`.
 .
 Clears `~/.bash_history` and and removes `~/.viminfo`
 .
 Updates `/etc/updatedb.conf` to prevent `locate` / `updatedb` from indexing
 `/home/**`, `/rw/**` and bind mounts
